---
interface Props {
	postion: string
	image: string
	company: string
	duration: string
	href?: string
}

const { postion, image, company, duration, href } = Astro.props
---

<div class="flex w-full items-center gap-4">
	<div class="h-14 w-14 overflow-hidden rounded-lg">
		<img src={image} alt={company} class="h-full w-full object-cover" />
	</div>
	<div class="flex flex-col">
		<p class="text-sm font-semibold">{postion}</p>
		<div class="flex flex-wrap gap-2 text-xs text-slate-600">
			<p class="">{company} • {duration}</p>
		</div>
	</div>
</div>
