---
import { getCollection } from 'astro:content'
import { Image } from 'astro:assets'

export async function getStaticPaths() {
	const projects = await getCollection('projects')
	return projects.map((project) => ({
		params: { slug: project.slug },
		props: { project }
	}))
}

const { project } = Astro.props

import Layout from '../../layouts/Layout.astro'
import Button from '../../components/Button.astro'
import Card from '../../components/Card.astro'
import CardInsert from '../../components/CardInsert.astro'
import Tool from '../../components/Tool.astro'
import Tag from '../../components/Tag.astro'
---

<Layout title={project.data.name} navText={'projects/' + project.data.name}>
	<Button href="/projects" className="border-0 shadow-none" text="â† Projects" />
	<section class="flex w-full flex-col gap-4">
		<div class="flex items-end justify-between gap-4">
			<h1 class="text-2xl font-bold">{project.data.name}</h1>
			<div class="flex gap-2">
				{
					project.data.link && (
						<Button
							href={project.data.link}
							backgroundColor={project.data.color || '#171717'}
							className={`border-0 shadow-none`}
							text="Live Link"
						/>
					)
				}
				{
					project.data.github && (
						<Button
							href={project.data.github}
							className="border-0 shadow-none"
							text="Source Code"
						/>
					)
				}
			</div>
		</div>
		<div class="flex flex-col gap-4 md:flex-row">
			<div class="flex w-full min-w-[66%] flex-col gap-4">
				<Card className="p-0">
					<CardInsert>
						<div class="aspect-video w-full overflow-hidden rounded-[8px]">
							<Image
								src={project.data.image}
								alt={project.data.name}
								class="object-cover object-top"
							/>
						</div>
					</CardInsert>
				</Card>
			</div>
			<div class="w-full">
				<Card title="Tools Used" className="pb-0">
					<CardInsert className="p-4">
						{project.data.tools.map((tool) => <Tool tool={tool} />)}
					</CardInsert>
				</Card>
			</div>
		</div>
		<div class="flex gap-4">
			<Card title="About">
				<div class="flex flex-col gap-4 px-2">
					<p class="text-semibold text-sm">
						{project.data.description}
					</p>
					{
						project.data.tags && (
							<div class="flex flex-wrap gap-1">
								{project.data.tags.map((tag) => (
									<Tag text={tag} textColor={project.data.color} />
								))}
							</div>
						)
					}
				</div>
			</Card>
		</div>
	</section>
</Layout>
